* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
body {
   height: 100dvh;
}
.background {
   height: 100dvh;
   width: 100vw;
   background: url("images/bg-dungeon.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.bird {
   height: 100px;
   width: 130px;
   position: fixed;
   top: 40vh;
   left: 10vw;
   z-index: 100;
}
.pipe_sprite {
   position: fixed;
   top: 40vh;
   left: 100vw;
   height: 70vh;
   width: 6vw;
   /* background: gray; */
   border: 3px solid white;
}

.pipe_sprite {
   height: 70vh;
   width: 6vw;
   /* width: fit-content; 
   height: fit-content;  */
   border: 2px solid black; /* Обводка черного цвета шириной 2px */
   border-radius: 10px; /* Закругленные углы контейнера */
   overflow: hidden; /* Обрезать содержимое контейнера, которое выходит за его границы */
   background-position: center;
   background-size: cover;
}

.pipe_sprite img {
      height: 120%;
      position: relative;
      top: -10%;
      width: 321%;
      left: 50%;
      transform: translateX(-50%);
}
body > .pipe_sprite:nth-child(even) > img {
   transform: scaleY(-1) translateX(-50%);
}

.message {
   position: absolute;
   z-index: 10;
   color: black;
   top: 30%;
   left: 50%;
   font-size: 4em;
   transform: translate(-50%, -50%);
   text-align: center;
}
.messageStyle {
   background: white;
   padding: 30px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 5%;
}
.score {
   position: fixed;
   z-index: 10;
   height: 10vh;
   font-size: 10vh;
   font-weight: 100;
   color: white;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
   top: 0;
   left: 0;
   margin: 10px;
   font-family: Arial, Helvetica, sans-serif;
}
.score_val {
   color: gold;
   font-weight: bold;
}
@media only screen and (max-width: 1080px) {
   .message {
      font-size: 50px;
      top: 50%;
      white-space: nowrap;
   }
   .score {
      font-size: 5vh;
   }
   .bird {
      width: 120px;
      height: 90px;
   }
}
@media (max-width: 7000px) {
   .message {
      font-size: 20px;
      top: 50%;
      white-space: nowrap;
   }
}
