* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
body {
   height: 100dvh;
   position: relative;
}
.hideelems > img {
   width: 1px;
   height: 1px;
}
.background {
   height: 100dvh;
   width: 100vw;
   background: url("images/bg-dungeon.jpeg") no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.bg-animation {
   animation: bg-move 100s linear infinite;
}
.bg-1 {
   background-image: url(images/FON_1_1.webp);
}
.bg-2 {
   background-image: url(images/FON_1_2.webp);
}
.bg-3 {
   background-image: url(images/FON_1_3.webp);
}
@keyframes bg-move {
   form {
      background-position: left;
   }
   to {
      background-position: right;
   }
}

.bird,
.bird2 {
   height: 100px;
   width: 130px;
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 100;
   transform: translate(-50%, -50%);
}
.bird-container {
   height: 50px;
   width: 50px;
   position: fixed;
   top: 40vh;
   left: 10vw;
   z-index: 100;
}
.close-app-btn {
   border: 1px solid black;
   border-radius: 20px;
   font-family: jost;
   font-size: 12px;
   font-style: italic;
   padding: 10px;
   display: flex;
   width: fit-content;
   margin-left: auto;
   cursor: pointer;
   background: white;
   color: black;
}
.level-buttons-area {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   font-family: Jost, sans-serif;

   gap: 20px;
}
.level-button {
   background: #393e2a;
   border-radius: 20px;
   padding: 5%;
   width: calc(50% - 10px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   position: relative;
}
.button__name {
   font-size: 14px;
   color: white;
   font-family: Jost, sans-serif;
}
.button__count {
   color: #d29242;
   font-size: 10px;
}
.button__play {
   display: flex;
   background: #d29242;
   width: 100%;
   justify-content: center;
   align-items: center;
   height: 28px;
   border-radius: 30px;
   border: none;
   margin-top: 10px;
   color: black;
}
.button__img {
   width: 80%;
}
.modal-img {
   width: 30%;
   margin: 0 auto;
}
.pipe_sprite {
   position: fixed;
   top: 40vh;
   left: 100vw;
   height: 70vh;
   width: 12vw;
   /* width: fit-content; 
   height: fit-content;  */
   border-radius: 20px; /* Закругленные углы контейнера */
   overflow: hidden; /* Обрезать содержимое контейнера, которое выходит за его границы */
   background-position: center;
   background-size: cover;

   -webkit-filter: drop-shadow(12px 12px 7px rgba(247, 247, 247, 0.5));
   filter: drop-shadow(0px 0px 15px #fafafa);
}

.pipe_sprite img {
   height: 120%;
   position: relative;
   top: -10%;
   width: 321%;
   left: 50%;
   transform: translateX(-50%);
}
body > .pipe_sprite:nth-child(even) > img {
   transform: scaleY(-1) translateX(-50%);
}

.message,
.losemessage,
.winmessage {
   position: absolute;
   z-index: 10;
   color: white;
   top: 50%;
   left: 50%;
   font-size: 14px;
   transform: translate(-50%, -50%);
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 3vh;

   background: #5a6146;
   padding: 30px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 5%;

   width: 90%;
   max-width: 400px;
}
.message > button {
   padding: 1vh 0;
}
.losemessage > button {
   padding: 1vh 0;
}
.messageStyle {
   background: white;
   padding: 30px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 5%;
}
.score {
   position: fixed;
   z-index: 10;
   height: 10vh;
   font-size: 10vh;
   font-weight: 100;
   color: white;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
   top: 5vh;
   left: 50%;
   transform: translateX(-50%);
   margin: 10px;
   font-family: Arial, Helvetica, sans-serif;
}
.score_val {
   color: white;
   font-weight: bold;
}
.none {
   display: none;
}
@media only screen and (max-width: 1080px) {
   .message {
      font-size: 50px;
      top: 50%;
      white-space: nowrap;
   }
   .score {
      font-size: 5vh;
   }
   .bird,
   .bird2 {
      width: 120px;
      height: 90px;
   }
}
@media (max-width: 700px) {
   .message {
      font-size: 20px;
      top: 50%;
      white-space: nowrap;
   }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
   .button__img {
      width: 40%;
   }
   .message {
      flex-direction: row-reverse;
   }
   .close-app-btn {
      height: fit-content;
   }
}
